# PART-01 Getting Started with Data Analysis - Installation and Loading Data

In [61]:
import pandas as pd

In [60]:
## loading the dataset of survey results public and schema

### If we wanted to ignore custom values when loading csv then we can simply passin an argument of a list of values
### that we wanna be treated as missing so here's how we would do this::
### if we had custom missing values here in this csv file then simply create a list of those missing values...
na_vals = ['NA','Missing']

df = pd.read_csv('survey_results_public.csv',na_values=na_vals)
schema_df = pd.read_csv('survey_results_schema.csv')

In [62]:
df

,ResponseId,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I agree,None of these,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0
2,3,I agree,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,...,6-10 times a week,6-10 times a week,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,250000.0
3,4,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Friend or family member;Other online...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Automated testing;Continuous integration (CI) ...,NaN,Appropriate in length,Easy,156000.0
4,5,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,...,1-2 times a week,1-2 times a week,3-5 times a week,60-120 minutes a day,30-60 minutes a day,Microservices;Automated testing;Observability ...,Other,Appropriate in length,Neither easy nor difficult,23456.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89179,89180,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Bootstrapping a business;Freelance/contr...,"Associate degree (A.A., A.S., etc.)",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89180,89181,I agree,I am a developer by profession,18-24 years old,"Student, full-time;Employed, part-time","Hybrid (some remote, some in-person)",School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Online Courses or Certification;Othe...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
89181,89182,I agree,I code primarily as a hobby,Prefer not to say,I prefer not to say,NaN,NaN,Something else,Books / Physical media;Hackathons (virtual or ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89182,89183,I agree,I am a developer by profession,Under 18 years old,"Employed, part-time;Student, part-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Secondary school (e.g. American high school, G...",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
89183,89184,I agree,I am a developer by profession,35-44 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Online Courses or Certification;Othe...,Formal documentation provided by the owner of ...,...,Never,1-2 times a week,1-2 times a week,60-120 minutes a day,30-60 minutes a day,DevOps function;Developer portal or other cent...,"Information Services, IT, Software Development...",Appropriate in length,Easy,NaN

In [4]:
schema_df

,qid,qname,question,force_resp,type,selector
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
2,QID310,Q310,"<div><span style=""font-size:19px;""><strong>You...",False,DB,TB
3,QID312,Q120,,True,MC,SAVR
4,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
...,...,...,...,...,...,...
73,QID289,Knowledge_7,Waiting on answers to questions often causes i...,NaN,MC,MAVR
74,QID289,Knowledge_8,I feel like I have the tools and/or resources ...,NaN,MC,MAVR
75,QID290,Frequency_1,Needing help from people outside of your immed...,NaN,MC,MAVR
76,QID290,Frequency_2,Interacting with people outside of your immedi...,NaN,MC,MAVR
77,QID290,Frequency_3,Encountering knowledge silos (where one indivi...,NaN,MC,MAVR

In [5]:
## setting ResponseId and Qname as index columns since they are unique identifiers
df = pd.read_csv('survey_results_public.csv',index_col = 'ResponseId')
schema_df = pd.read_csv('survey_results_schema.csv',index_col = 'qname')

In [6]:
df

,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
1,I agree,None of these,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,Other,...,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0
3,I agree,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,NaN,...,6-10 times a week,6-10 times a week,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,250000.0
4,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Friend or family member;Other online...,Formal documentation provided by the owner of ...,NaN,...,1-2 times a week,10+ times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Automated testing;Continuous integration (CI) ...,NaN,Appropriate in length,Easy,156000.0
5,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,Other;Codecademy;edX,...,1-2 times a week,1-2 times a week,3-5 times a week,60-120 minutes a day,30-60 minutes a day,Microservices;Automated testing;Observability ...,Other,Appropriate in length,Neither easy nor difficult,23456.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89180,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Bootstrapping a business;Freelance/contr...,"Associate degree (A.A., A.S., etc.)",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,Udemy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89181,I agree,I am a developer by profession,18-24 years old,"Student, full-time;Employed, part-time","Hybrid (some remote, some in-person)",School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Online Courses or Certification;Othe...,Formal documentation provided by the owner of ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
89182,I agree,I code primarily as a hobby,Prefer not to say,I prefer not to say,NaN,NaN,Something else,Books / Physical media;Hackathons (virtual or ...,NaN,Codecademy;Coursera,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89183,I agree,I am a developer by profession,Under 18 years old,"Employed, part-time;Student, part-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Secondary school (e.g. American high school, G...",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,Udemy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
89184,I agree,I am a developer by profession,35-44 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Online Courses or Certification;Othe...,Formal documentation provided by the owner of ...,Codecademy;Pluralsight;Coursera,...,Never,1-2 times a week,1-2 times a week,60-120 minutes a day,30-60 minutes a day,DevOps function;Developer portal or other cent...,"Information Services, IT, Software Development...",Appropriate in length,Easy,NaN

In [7]:
## Let's go and see the column that doesn't make any sense
df.index

Int64Index([    1,     2,     3,     4,     5,     6,     7,     8,     9,
               10,
            ...
            89175, 89176, 89177, 89178, 89179, 89180, 89181, 89182, 89183,
            89184],
           dtype='int64', name='ResponseId', length=89184)

In [8]:
df.loc[1,'Employment']

nan

In [9]:
schema_df

,qid,question,force_resp,type,selector
qname,,,,,
S0,QID16,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
MetaInfo,QID12,Browser Meta Info,False,Meta,Browser
Q310,QID310,"<div><span style=""font-size:19px;""><strong>You...",False,DB,TB
Q120,QID312,,True,MC,SAVR
S1,QID1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
...,...,...,...,...,...
Knowledge_7,QID289,Waiting on answers to questions often causes i...,NaN,MC,MAVR
Knowledge_8,QID289,I feel like I have the tools and/or resources ...,NaN,MC,MAVR
Frequency_1,QID290,Needing help from people outside of your immed...,NaN,MC,MAVR
Frequency_2,QID290,Interacting with people outside of your immedi...,NaN,MC,MAVR
Frequency_3,QID290,Encountering knowledge silos (where one indivi...,NaN,MC,MAVR

In [10]:
## If you wanna sort the schema datafram alphabetically(ascending order) which will make bit easier to read 
## and identify them easily and to make it permanent changes just add in another argument called inplace = 'True'

schema_df.sort_index()

,qid,question,force_resp,type,selector
qname,,,,,
AIAcc,QID324,For the AI tools you use as part of your devel...,False,MC,MAVR
AIBen,QID316,How much do you trust the accuracy of the outp...,False,MC,SAVR
AIDev,QID328,Which <b>AI-powered developer tools</b> did yo...,False,Matrix,Likert
AINext,QID320,Thinking about how your workflow and process c...,False,Matrix,Likert
AIOpen,QID321,Please describe how you would expect your work...,False,TE,SL
...,...,...,...,...,...
ToolsTech,QID275,Which <b>developer </b><strong>tools for compi...,False,Matrix,Likert
Webframe,QID264,Which <b>web frameworks and web technologies</...,False,Matrix,Likert
WorkExp,QID288,How many years of working experience do you have?,False,Slider,HSLIDER
YearsCode,QID32,"Including any education, how many years have y...",False,MC,DL
YearsCodePro,QID34,"NOT including education, how many years have y...",False,MC,DL

In [11]:
## If you wanna sort the schema datafram alphabetically(ascending order) which will make bit easier to read 
## and identify them easily and to make it permanent changes just add in another argument called inplace = 'True'
schema_df.sort_index(inplace=True)
schema_df

,qid,question,force_resp,type,selector
qname,,,,,
AIAcc,QID324,For the AI tools you use as part of your devel...,False,MC,MAVR
AIBen,QID316,How much do you trust the accuracy of the outp...,False,MC,SAVR
AIDev,QID328,Which <b>AI-powered developer tools</b> did yo...,False,Matrix,Likert
AINext,QID320,Thinking about how your workflow and process c...,False,Matrix,Likert
AIOpen,QID321,Please describe how you would expect your work...,False,TE,SL
...,...,...,...,...,...
ToolsTech,QID275,Which <b>developer </b><strong>tools for compi...,False,Matrix,Likert
Webframe,QID264,Which <b>web frameworks and web technologies</...,False,Matrix,Likert
WorkExp,QID288,How many years of working experience do you have?,False,Slider,HSLIDER
YearsCode,QID32,"Including any education, how many years have y...",False,MC,DL
YearsCodePro,QID34,"NOT including education, how many years have y...",False,MC,DL

In [12]:
## If you wanna sort the schema datafram in descending order which will make bit easier to read and identify them easily
## what we are looking for and to make it permanent changes just add in another argument called inplace = 'True'

schema_df.sort_index(ascending = False)
schema_df.sort_index(ascending = False,inplace = True)

In [13]:
## we wanna know what exactly  S1 means but we are not able to see the entire question row contains.
## if you wanna see full context just see following cell
schema_df.loc['S1']

qid                                                        QID1
question      <span style="font-size:22px; font-family: aria...
force_resp                                                False
type                                                         DB
selector                                                     TB
Name: S1, dtype: object

In [14]:
## to see the entire text of S1 row : just pass in s1 row and question column as a list into .loc
schema_df.loc['S1','question']

'<span style="font-size:22px; font-family: arial,helvetica,sans-serif; font-weight: 700;">Basic Information</span><br>\n<br>\n<p><span style="font-size:16px; font-family:arial,helvetica,sans-serif;">The first section will focus on some basic information about who you are.<br>\n<br>\nMost questions in this section are required. Required questions are noted with *.</span></p>'

In [15]:
## SETTING AN INDEX: deleting default index and setting ResponseID to index column 
## bcoz they are unique identifiers with the label

df.set_index('ResponseId',inplace=True)
df

## or df = pd.read_csv('survey_results_public.csv',index_col = 'ResponseId')

KeyError: "None of ['ResponseId'] are in the columns"

In [ ]:
##info method gives total no.of.columns and rows & also data types of that columns
df.info()

In [ ]:
## Shape is an attribute so you do not have to put parenthesis. It is not a METHOD/FUNCTION. 
## It gives tuple values with total number of rows and columns
## here in this Dataframe, we've got 89184 rows and 84 columns
df.shape

In [ ]:
df.describe()

In [ ]:
## To get first 5 Rows of DataFrame
df.head()

In [ ]:
## we can also pass certain value to get the rows that you wanted
df.head(10)

In [ ]:
## To get Last 5 Rows of DataFrame
df.tail()

In [ ]:
## To get last 10 Rows of DataFrame
df.tail(10)

In [63]:
## If we wanna see all of the columns in datafram then we have to change the settings:
pd.set_option('display.max_columns',84)
df

,ResponseId,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,TechList,BuyNewTool,Country,Currency,CompTotal,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysPersonal use,OpSysProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,AISearchHaveWorkedWith,AISearchWantToWorkWith,AIDevHaveWorkedWith,AIDevWantToWorkWith,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,SOAI,AISelect,AISent,AIAcc,AIBen,AIToolInterested in Using,AIToolCurrently Using,AIToolNot interested in Using,AINextVery different,AINextNeither different nor similar,AINextSomewhat similar,AINextVery similar,AINextSomewhat different,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Knowledge_8,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I agree,None of these,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,Other,18,9,"Senior Executive (C-Suite, VP, etc.)",2 to 9 employees,I have a great deal of influence,Investigate,Start a free trial;Ask developers I know/work ...,United States of America,USD\tUnited States dollar,2.850000e+05,HTML/CSS;JavaScript;Python,Bash/Shell (all shells);C#;Dart;Elixir;GDScrip...,Supabase,Firebase Realtime Database;Supabase,Amazon Web Services (AWS);Netlify;Vercel,Fly.io;Netlify;Render,Next.js;React;Remix;Vue.js,Deno;Elm;Nuxt.js;React;Svelte;Vue.js,Electron;React Native;Tauri,Capacitor;Electron;Tauri;Uno Platform;Xamarin,Docker;Kubernetes;npm;Pip;Vite;Webpack;Yarn,Godot;npm;pnpm;Unity 3D;Unreal Engine;Vite;Web...,Vim;Visual Studio Code,Vim;Visual Studio Code,iOS;iPadOS;MacOS;Windows;Windows Subsystem for...,MacOS;Windows;Windows Subsystem for Linux (WSL),Asana;Basecamp;GitHub Discussions;Jira;Linear;...,GitHub Discussions;Linear;Notion;Trello,Cisco Webex Teams;Discord;Google Chat;Google M...,Discord;Signal;Slack;Zoom,ChatGPT,ChatGPT;Neeva AI,GitHub Copilot,GitHub Copilot,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per month or weekly,"Yes, definitely","I don't think it's super necessary, but I thin...",Yes,Indifferent,Other (please explain),Somewhat distrust,Learning about a codebase;Writing code;Debuggi...,Writing code;Committing and reviewing code,NaN,NaN,NaN,NaN,NaN,NaN,Yes,People manager,10.0,Strongly agree,Agree,Strongly agree,Agree,Agree,Agree,Agree,Strongly agree,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0
2,3,I agree,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,NaN,27,23,"Developer, back-end","5,000 to 9,999 employees",I have some influence,Given a list,Start a free trial;Ask developers I know/work ...,United States of America,USD\tUnited States dollar,2.500000e+05,Bash/Shell (all shells);Go,Haskell;OCaml;Rust,NaN,NaN,Amazon Web Services (AWS);Google Cloud;OpenSta...,NaN,NaN,NaN,NaN,NaN,Cargo;Docker;Kubernetes;Make;Nix,Cargo;Kubernetes;Nix,Emacs;Helix,Emacs;Helix,MacOS;Other Linux-based,MacOS;Other Linux-based,Markdown File;Stack Overflow for Teams,Markdown File,Microsoft Teams;Slack;Zoom,Slack;Zoom,NaN,NaN,NaN,NaN,Stack Overflow;Stack Exchange;Stack Overflow f...,A few times per month or weekly,Yes,Less than once per month or monthly,Neutral,NaN,"No, and I don't plan to",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Individual contributor,23.0,Strongly agree,Neither agree nor disagree,Agree,Agree,Agree,Agree,Agree,Agree,6-10 times a week,6-10 times a week,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,250000.0
3,4,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Friend or family member;Other online...,Formal documentation provided by the owner of ...,NaN,12,7,"Developer, front-end",100 to 499 employees,I have some influence,Investigate,Start a free trial;Ask developers I know/work ...,United States of America,USD\tUnited States dollar,1.560000e+05,Bash/Shell (all shells);HTML/CSS;JavaScript;PH...,Bash/Shell (all shells);HTML/CSS;JavaScript;Ru...,PostgreSQL;Redis,PostgreSQL;Redis,Cloudflare;Heroku,Cloudflare;Heroku,Node.js;React;Ruby on Rails;Vue.js;WordPress,Node.js;Ruby on Rails;Vue.js,NaN,NaN,Homebrew;npm;Vite;Webpack;Yarn,Homebrew;npm;Vite,IntelliJ IDEA;Vim;Visual Studio Code;WebStorm,IntelliJ IDEA;Vim;WebStorm,iOS;iPadOS;MacOS,iOS;iPadOS;MacOS,Jira,Jira,Discord;Google Meet;Microsoft Teams;Slack;Zoom,Discord;Google Meet;Slack;Zoom,NaN,NaN,NaN,NaN,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,"No, not really",I'm wearing of Stack Overflow using AI.,"No, and I don't plan to",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Individual contributor,7.0,Strongly agree,Strongly disagree,Strongly agree,Strongly agree,Agree,Neither agree nor disagree,Agree,Agree,1-2 times a week,10+ times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Automated testing;Continuous integration (CI) ...,NaN,Appropriate in length,Easy,156000.0
4,5,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,Other;Codecademy;edX,6,4,"Developer, full-stack",20 to 99 employees,I have some influence,Investigate,Start a free trial;Ask developers I know/work ...,Philippines,PHP\tPhilippine peso,1.320000e+06,HTML/CSS;JavaScript;TypeScript,HTML/CSS;JavaScript;Python;Rust;TypeScript,BigQuery;Elasticsearch;MongoDB;PostgreSQL,Elasticsearch;MongoDB;PostgreSQL;Redis;Supabase,Amazon Web Services (AWS);Firebase;Heroku;Netl...,Amazon Web Services (AWS);Cloudflare;Digital O...,Express;Gatsby;NestJS;Next.js;Node.js;React,Express;NestJS;Next.js;Node.js;React;Remix;Vue.js,NaN,NaN,Docker;npm;Webpack;Yarn,Docker;npm;Yarn,Vim;Visual Studio Code,Vim;Visual Studio Code,Other (Please Specify):,Other (Please Specify):,Confluence;Jira;Notion,Confluence;Jira;Notion,Discord;Google Meet;Slack;Zoom,Discord;Google Meet;Slack;Zoom,ChatGPT,ChatGPT,NaN,NaN,Stack Overflow;Stack Exchange,A few times per week,No,NaN,Neutral,Using AI to suggest better answer to my questi...,Yes,Very favorable,Increase productivity;Greater efficiency;Speed...,Somewhat trust,Project planning;Testing code;Committing and r...,Learning about a codebase;Writing code;Documen...,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Individual contributor,6.0,Agree,Strongly agree,Agree,Agree,Neither agree nor disagree,Agree,Strongly agree,Agree,1-2 times a week,1-2 times a week,3-5 times a week,60-120 minutes a day,30-60 minutes a day,Microservices;Automated testing;Observability ...,Other,Appropriate in length,Neither easy nor difficult,23456.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89179,89180,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Bootstrapping a business;Freelance/contr...,"Associate degree (A.A., A.S., etc.)",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,Udemy,20,5,"Developer, front-end",100 to 499 employees,I have some influence,Investigate,NaN,Brazil,BRL\tBrazilian real,2.000000e+05,HTML/CSS;Java;JavaScript;SQL;TypeScript,Bash/Shell (all shells);C;Go;HTML/CSS;JavaScri...,MongoDB;MySQL;PostgreSQL;SQLite,PostgreSQL;SQLite,Digital Ocean;Firebase;Google Cloud;Heroku;Vercel,Amazon Web Services (AWS);Heroku;Netlify;Vercel,Angular;AngularJS;Express;jQuery;Node.js;Nuxt....,Express;Node.js;Nuxt.js;Svelte;Vue.js,Flutter,NaN,Chocolatey;CMake;Docker;Maven (build tool);npm...,Docker;npm;Pip;Vite;Yarn,Android Studio;Atom;Eclipse;IntelliJ IDEA;Netb...,Visual Studio Code,Android;Windows,Android;Ubuntu;Windows,Asana;Confluence;Jira;Markdown File;Miro;Notio...,Markdown File;Miro;Wikis,Discord;Google Meet;Jitsi;Microsoft Teams;Slac...,Discord;Google Meet;Jitsi;Microsoft Teams;Tele...,ChatGPT,ChatGPT,Whispr AI,Whispr AI,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,Neutral,NaN,Yes,Very favorable,Increase productivity;Greater efficiency;Speed...,Somewhat trust,Learning about a codebase;Project planning;Wri...,Writing code;Documenting code;Debugging and ge...,Deployment and monitoring,NaN,NaN,NaN,NaN,Writing code;Documenting code;Debugging and ge...,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89180,89181,I agree,I am a developer by profession,18-24 years old,"Student, full-time;Employed, part-time","Hybrid (some remote, some in-person)",School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Online Courses or Certification;Othe...,Formal documentation provided by the owner of ...,NaN,5,NaN,"Developer, back-end",NaN,NaN,Investigate,Start a free trial;Ask developers I know/work ...,Romania,NaN,NaN,Dart;Java;Python;SQL,Java;JavaScript;Python;SQL;TypeScript,PostgreSQL,PostgreSQL,NaN,NaN,Spring Boot,Spring Boot,Flutter;Opencv;RabbitMQ;Spring Framework;Torch...,RabbitMQ;Spring Framework;Torch/PyTorch,Maven (build tool);Pip,Maven (build tool);Pip,Android Studio;IntelliJ IDEA;PyCharm,IntelliJ IDEA;PyCharm,Windows,Windows,Jira,Jira,Microsoft Teams,Microsoft Teams,ChatGPT,ChatGPT,NaN,NaN,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,"No, not really",I'm not sure,Yes,Very favorable,Speed up learning,Somewhat trust,Writing code;Documenting code;Testing code,Learning about a codebase;Debugging and gettin...,Project planning;Committing and reviewing code...,NaN,NaN,NaN,NaN,Learning about a codebase;Debugging and gettin...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
89181,89182,I agree,I code primarily as a hobby,Prefer not to say,I prefer not to say,NaN,NaN,Something else,Books / Physical media;Hackathons (virtual or ...,NaN,Codecademy;Coursera,10,NaN,NaN,NaN,NaN,NaN,NaN,Israel,NaN,NaN,Assembly;Bash/Shell (all shells);C;C#;Python;R...,Python;Rust,SQLite,NaN,Amazon Web Services (AWS),Amazon Web Services (AWS);Microsoft Azure,NaN,NaN,NumPy;Pandas;TensorFlow,NumPy;Pandas;Torch/PyTorch,Cargo,Cargo;Docker;Kubernetes;Terraform,Jupyter Notebook/JupyterLab;Neovim;Visual Stud...,Jupyter Notebook/JupyterLab;Neovim;Visual Stud...,Windows,NaN,NaN,NaN,NaN,NaN,ChatGPT;Quora Poe,ChatGPT;Quora Poe,NaN,NaN,Stack Overflow;Stack Exchange,NaN,NaN,NaN,NaN,NaN,"No, but I plan to soon",Very favorable,NaN,Highly trust,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89182,89183,I agree,I am a developer by profession,Under 18 years old,"Employed, part-time;Student, part-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Secondary school (e.g. American high school, G...",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,Udemy,3,NaN,System administrator,NaN,NaN,Investigate,Ask developers I know/work with;Visit develope...,Switzerland,NaN,NaN,Bash/Shell (all shells);C#;HTML/CSS;Java;JavaS...,Bash/Shell (all shells);HTML/CSS;JavaScript;Po...,MariaDB;Microsoft SQL Server;MongoDB;MySQL;Red...,Cassandra;Cosmos DB;Dynamodb;MariaDB;Microsoft...,Amazon Web Services (AWS);Cloudflare;Google Cl...,Amazon Web Services (AWS);Cloudflare;Digital O...,Express;Next.js;Node.js;React;WordPress,Angular;AngularJS;Express;Next.js;Node.js;Reac...,CUDA;NumPy;Torch/PyTorch,CUDA;Flutter;NumPy;TensorFlow;Torch/PyTorch,Docker;Kubernetes;npm;Podman;Vite,Ansible;APT;Docker;Kubernetes;npm;Pip;Podman;T...,Eclipse;IntelliJ IDEA;Nano;Notepad++;PyCharm;V...,Jupyter Notebook/JupyterLab;Notepad++;Visual S...,Arch;Debian;iOS;iPadOS;MacOS;Ubuntu;Windows;Wi...,BSD;Red Hat;Solaris;Ubuntu;Windows,Confluence;Jira;Trello,Azure Devops;Confluence;Jira,Cisco Webex Teams;Discord;Microsoft Teams;Sign...,Discord;Microsoft Teams;Skype,Bing AI;ChatGPT;WolframAlpha,Bing AI;ChatGPT;Google Bard AI,NaN,NaN,Stack Overflow;Stack Exchange;Stack Overflow f...,A few times per month or weekly,No,NaN,"Yes, somewhat",Define Parameters more detailed. I believe in ...,Yes,Favorable,Increase productivity;Greater efficiency;Speed...,Somewhat distrust,Learning about a codebase;Project planning;Wri...,Learning about a codebase;Writing code;Debuggi...,Committing and reviewing code,NaN,Debugging and getting help;Deployment and moni...,NaN,NaN,Learning about a codebase;Writing code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
89183,89184,I agree,I am a developer by profession,35-44 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Online Courses or Certification;Othe...,Formal documentation provided by the owner of ...,Codecademy;Pluralsight;Coursera,17,12,"Developer, full-stack",100 to 499 employees,I have some influence,NaN,Start a free trial;Ask developers I know/work ...,"Iran, Islamic Republic of...",IRR\tIranian rial,3.300000e+09,C#;Go;JavaScript;SQL;TypeScript,C#;Go;JavaScript;SQL;TypeScript,Microsoft SQL Server;Redis;SQLite,Microsoft SQL Server;Redis;SQLite,Hetzner,Hetzner;Microsoft Azure,Angular;ASP.NET;ASP.NET CORE;Blazor;Node.js,Angular;ASP.NET;ASP.NET CORE;Blazor;Deno;Node....,.NET (5+) ;.NET Framework (1.0 - 4.8),.NET (5+) ;Apache Kafka;RabbitMQ;Tauri,Docker;npm;NuGet;pnpm;Vite;Webpack;Yarn,Bun;Docker;npm;NuGet;pnpm;Vite;Yarn,Visual Studio;Visual Studio Code,Visual Studio;Visual Studio Code,Windows,Windows,NaN,NaN,Google Meet;Skype;Telegram;Whatsapp,Google Meet;Skype;Telegram;Whatsapp,ChatGPT,ChatGPT,GitHub Copilot,GitHub Copilot,Stack Overflow,A few times per week,Yes,Less than once per month or monthly,"Yes, somewhat",NaN,Yes,Favorable,Increase productivity;Greater efficiency;Speed...,Neither trust nor distrust,Learning about a codebase;Writing code,Learning about a codebase;Writing code,NaN,Learning about a codebase,NaN,NaN,NaN,Writing code,Yes,People manager,14.0,Agree,Neither agree nor disagree,Neither agree nor disagree,Strongly agree,Strongly agree,Agree,Neither agree nor disagree,Neither agree nor disagree,Never,1-2 times a week,1-2 times a week,60-120 minutes a day,30-60 minutes a day,DevOps function;Developer portal or other cent...,"Information Services, IT, Software Development...",Appropriate in length,Easy,NaN

In [ ]:
## if you are curious to know about the column definitions we do have schema csv file just upload and see the meaning
schema_df = pd.read_csv('survey_results_schema.csv')

In [ ]:
schema_df

In [64]:
pd.set_option('display.max_rows',78)
schema_df

,qid,qname,question,force_resp,type,selector
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
2,QID310,Q310,"<div><span style=""font-size:19px;""><strong>You...",False,DB,TB
3,QID312,Q120,,True,MC,SAVR
4,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
5,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
6,QID127,Age,What is your age? *,True,MC,MAVR
7,QID296,Employment,Which of the following best describes your cur...,False,MC,MAVR
8,QID308,RemoteWork,Which best describes your current work situation?,False,MC,SAVR
9,QID297,CodingActivities,Which of the following best describes the code...,False,MC,MAVR
10,QID190,S2,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
11,QID25,EdLevel,Which of the following best describes the high...,True,MC,SAVR
12,QID276,LearnCode,How do you learn to code? Select all that apply.,False,MC,MAVR
13,QID281,LearnCodeOnline,What online resources do you use to learn to c...,False,MC,MAVR
14,QID306,LearnCodeCoursesCert,What online courses or certifications do you u...,False,MC,MAVR
15,QID32,YearsCode,"Including any education, how many years have y...",False,MC,DL
16,QID34,YearsCodePro,"NOT including education, how many years have y...",False,MC,DL
17,QID31,DevType,Which of the following describes your current ...,False,MC,SAVR
18,QID29,OrgSize,Approximately how many people are employed by ...,False,MC,SAVR
19,QID278,PurchaseInfluence,"What level of influence do you, personally, ha...",False,MC,SAVR
20,QID322,TechList,When thinking about new technology purchases a...,False,MC,SAVR
21,QID279,BuyNewTool,"When buying a new tool or software, how do you...",False,MC,MAVR
22,QID6,Country,"Where do you live? <span style=""font-weight: b...",True,MC,DL
23,QID50,Currency,Which currency do you use day-to-day? If your ...,True,MC,DL
24,QID51,CompTotal,What is your current total <b>annual</b> compe...,False,TE,SL
25,QID61,S3,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
26,QID233,Language,"Which <b>programming, scripting, and markup la...",False,Matrix,Likert
27,QID262,Database,Which <b>database environments </b>have you do...,False,Matrix,Likert
28,QID263,Platform,Which <b>cloud platforms</b> have you done ext...,False,Matrix,Likert
29,QID264,Webframe,Which <b>web frameworks and web technologies</...,False,Matrix,Likert
30,QID265,MiscTech,Which <b>other frameworks and libraries</b> ha...,False,Matrix,Likert
31,QID275,ToolsTech,Which <b>developer </b><strong>tools for compi...,False,Matrix,Likert
32,QID274,NEWCollabTools,Which <strong>development environments</strong...,False,Matrix,Likert
33,QID71,OpSys,What is the primary <b>operating system</b> in...,False,Matrix,Likert
34,QID282,OfficeStackAsync,Which <b>collaborative work management and/or ...,False,Matrix,Likert
35,QID307,OfficeStackSync,Which <b>communication tools</b> did you use r...,False,Matrix,Likert
36,QID327,AISearch,Which <b>AI-powered search tools</b> did you u...,False,Matrix,Likert
37,QID328,AIDev,Which <b>AI-powered developer tools</b> did yo...,False,Matrix,Likert
38,QID91,S4,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
39,QID266,NEWSOSites,Which of the following Stack Overflow sites ha...,True,MC,MAVR
40,QID100,SOVisitFreq,How frequently would you say you visit Stack O...,False,MC,SAVR
41,QID101,SOAccount,Do you have a Stack Overflow account?,False,MC,SAVR
42,QID102,SOPartFreq,How frequently would you say you participate i...,False,MC,SAVR
43,QID106,SOComm,Do you consider yourself a member of the Stack...,False,MC,SAVR
44,QID313,S5,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
45,QID325,SOAI,Artificial Intelligence (AI) tools have gained...,False,TE,SL
46,QID314,AISelect,Do you currently use AI tools in your developm...,True,MC,SAVR
47,QID315,AISent,How favorable is your stance on using AI tools...,False,MC,SAVR
48,QID324,AIAcc,For the AI tools you use as part of your devel...,False,MC,MAVR
49,QID316,AIBen,How much do you trust the accuracy of the outp...,False,MC,SAVR
50,QID319,AITool,Which parts of your development workflow are y...,False,Matrix,Likert
51,QID320,AINext,Thinking about how your workflow and process c...,False,Matrix,Likert
52,QID321,AIOpen,Please describe how you would expect your work...,False,TE,SL
53,QID295,S6,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
54,QID299,TBranch,"<span style=""font-size:16px;"">Would you like t...",True,MC,SAVR
55,QID287,ICorPM,Are you an individual contributor or people ma...,False,MC,SAVR
56,QID288,WorkExp,How many years of working experience do you have?,False,Slider,HSLIDER
57,QID289,Knowledge,Please rate your level of agreement with the f...,False,Matrix,Likert
58,QID290,Frequency,How frequently do you experience each of the f...,False,Matrix,Likert
59,QID291,TimeSearching,"On an average day, how much time do you typica...",False,MC,SAVR
60,QID292,TimeAnswering,"On an average day, how much time do you typica...",False,MC,SAVR
61,QID304,ProfessionalTech,My company has:,False,MC,MAVR
62,QID326,Industry,What industry is the company you work for in?,False,MC,SAVR
63,QID286,SOTeamsUsage,Does your team use Stack Overflow for Teams?,False,MC,SAVR
64,QID131,S7,"<span style=""font-size:22px;""><strong>Final Qu...",False,DB,TB
65,QID132,SurveyLength,How do you feel about the length of the survey...,False,MC,MAVR
66,QID133,SurveyEase,How easy or difficult was this survey to compl...,False,MC,MAVR
67,QID289,Knowledge_1,I have interactions with people outside of my ...,NaN,MC,MAVR
68,QID289,Knowledge_2,Knowledge silos prevent me from getting ideas ...,NaN,MC,MAVR
69,QID289,Knowledge_3,I can find up-to-date information within my or...,NaN,MC,MAVR
70,QID289,Knowledge_4,I am able to quickly find answers to my questi...,NaN,MC,MAVR
71,QID289,Knowledge_5,I know which system or resource to use to find...,NaN,MC,MAVR
72,QID289,Knowledge_6,I often find myself answering questions that I...,NaN,MC,MAVR
73,QID289,Knowledge_7,Waiting on answers to questions often causes i...,NaN,MC,MAVR
74,QID289,Knowledge_8,I feel like I have the tools and/or resources ...,NaN,MC,MAVR
75,QID290,Frequency_1,Needing help from people outside of your immed...,NaN,MC,MAVR
76,QID290,Frequency_2,Interacting with people outside of your immedi...,NaN,MC,MAVR
77,QID290,Frequency_3,Encountering knowledge silos (where one indivi...,NaN,MC,MAVR

In [76]:
schema_df.iloc[16,2]

'NOT including education, how many years have you coded professionally (as a part of your work)?'

In [77]:
schema_df.iloc[15,2]

'Including any education, how many years have you been coding in total?'

## LET'S PERFORM SIMILAR OPERATIONS THAT WE LEARNT DOWN BELOW

In [ ]:
df.columns

In [ ]:
df['Employment']

In [ ]:
## VALUE COUNTS IS A METHOD TO FIND OUT TOTAL COUNT OF EACH CATEGORY
df['Employment'].value_counts()

In [ ]:
df.loc[[0, 1]]

In [ ]:
df.loc[[0, 1],'Employment']

In [ ]:
df.loc[4,'Employment']

In [ ]:
df.loc[4,'Employment']

In [ ]:
df.loc[[0, 1], ['Employment', 'Age']]

In [ ]:
df.loc[[0,1,2,3], ['Employment', 'ResponseId','Age']]

# SLICING - slicing is inclusive

In [ ]:
## We just looking at first 4 rows of specific columns
df.loc[0:3, ['Employment', 'ResponseId','Age']]

In [ ]:
## do not have to put in brackets bcoz 
df.loc[0:3, 'ResponseId': 'EdLevel']

## # FILTERING OPERATIONS(AND, OR )

In [ ]:
## FILTERING OPERATIONS(AND, OR )
high_salary = (df['ConvertedCompYearly'] > 70000)
high_salary

In [ ]:
high_salary.value_counts()

In [ ]:
df.loc[high_salary]

# FILTERING MULTIPLE VALUES

In [ ]:
df.loc[high_salary,['Country','ProfessionalTech','ConvertedCompYearly']]

In [ ]:
## if you wanna get the information of the sepecific countries you are interested in:
countries = ['India','United Kingdom','United States of America','Canada','Australia']
filt_1 = df['Country'].isin(countries)

In [ ]:
df.loc[filt_1,'Country']

### FILTER STRINGS

In [ ]:
## if you are interested to get the rows with the DEVOPS FUNCTION we use string filters 
df['ProfessionalTech']

In [ ]:
## we also see nan outlier as well which means not a number so we have to specify it as na = False
filt_2 = df['ProfessionalTech'].str.contains('DevOps function', na=False)

In [ ]:
## we get the all rows which has DEVOPS FUNCTION
df.loc[filt_2,'ProfessionalTech']

In [ ]:
df

####  Modifying AND Updating Column NAME using RENAME METHOD

In [ ]:
df.rename(columns = {'ConvertedCompYearly':'SalaryUSD'},inplace=True)
df

In [ ]:
df['SalaryUSD']

In [ ]:
#### CONVERTING HOBBYIST COLUMN from YES / No to True/False
df['Q120']

###  SORTING DATA:

In [ ]:
df.sort_values(by='Country',inplace=True)

In [ ]:
df['Country'].head(50)

In [ ]:
df[['Country','ConvertedCompYearly']].head(50)

In [ ]:
### I am interested to get country column in ascending and convertedcompyearly column in descending order

df.sort_values(by=['Country','ConvertedCompYearly'],ascending=[True,False],inplace=True)

In [ ]:
## And also I would like to get first 50 rows of the data
df[['Country','ConvertedCompYearly']].head(50)

####  TO FIND N LARGEST AND SMALLEST from data: nlargest and nsmallest

In [ ]:
### i want to know 10 largest salaries from data
df['ConvertedCompYearly'].nlargest(10)

In [ ]:
### i want to know 10 largest salaries from data with the complete details
df.nlargest(10,'ConvertedCompYearly')

In [ ]:
### i want to know 10 smallest salaries from data 
df['ConvertedCompYearly'].nsmallest(10)

In [ ]:
### i want to know 10 smallest salaries from data with the complete details
df.nsmallest(10,'ConvertedCompYearly')

####  GROUPING AND AGGREGATING THE DATA:

In [ ]:
### In this column we can see NAN values which means Not A Number(Outliers). In this context which means they skipped 
## the question in the survey
df['ConvertedCompYearly'].head(15)

In [ ]:
### we can see the median salary for the survey just by running median method on this series object
### It gives median salary of the survey by ignoring NAN values
### Probably this doesn't give us as much information as we'd really like to have so for example different countries 
### pays different amounts since there are different cost-of-livings and things like that
### it would by nice if we broken down median salary by countries that's where grouping comes into picture

df['ConvertedCompYearly'].median()

In [ ]:
### if you wanna look at median values of entire dataframe it just gives us median of all numerical data columns
df.median()

In [ ]:
### Describe method says us broad STATISTICAL OVERVIEW OF A DATAFRAME

### iT gives us different stats like COUNT,MEAN,STANDARD DEVIATION,MINIMUM,QUANTILES (25%,MEDIAN(50%),75%), MAXIMUM

### We are focused mainly on median not mean bcoz Mean is heavily affected by OUTLIERS(NAN). 

### its not really a good metric to use bcoz few outliers can heavily affect the average

### COUNT means it counts non missing rows that means Respondent didnt answer to that specific question

df.describe()

In [ ]:
### we can also run descirbe method on a single column as well

df['ConvertedCompYearly'].describe()

In [ ]:
### Only 48019 people are responded to that question out of 89184

df['ConvertedCompYearly'].count()

In [ ]:
df['DatabaseHaveWorkedWith']

In [ ]:
df['DatabaseHaveWorkedWith'].value_counts()

### CASTING AND CALCULATING AVERAGES

### Q1 : Calculate Avg No.of.Years Coding Experience among the Developers?

In [78]:
schema_df.iloc[15]

qid                                                       QID32
qname                                                 YearsCode
question      Including any education, how many years have y...
force_resp                                                False
type                                                         MC
selector                                                     DL
Name: 15, dtype: object

In [79]:
schema_df.iloc[15,2]

'Including any education, how many years have you been coding in total?'

In [80]:
### Lets look at the first 20 rows whether they are having different values or not to callculate average
### looks alright to perform average 

df['YearsCode'].head(20)

0     NaN
1      18
2      27
3      12
4       6
5      21
6       4
7       5
8      20
9       6
10     14
11     10
12     10
13      5
14     15
15     15
16      4
17     11
18      3
19     24
Name: YearsCode, dtype: object

In [81]:
### we've seen already this kinda error in our sample dataset and we know how to fix this issue???
df['YearsCode'].mean()

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [84]:
### Lets typecast the data and then cal average
### But we got ValueError: could not convert string to float: 'Less than 1 year'
### LETS see the unique values in the series object of " YEARS CODE "

df['YearsCode'] = df['YearsCode'].astype(float)

ValueError: could not convert string to float: 'Less than 1 year'

### UNIQUE METHOD: To see unique values in the columns or series object

In [85]:
### We can clearly see that we also have strings in our column : Less than 1 year & More than 50 years' mixed throughout 
### these numbers and we also has nan values but we're not gonna worry about those bcoz they are actually float 
### under the hood

df['YearsCode'].unique()

array([nan, '18', '27', '12', '6', '21', '4', '5', '20', '14', '10', '15',
       '11', '3', '24', '8', '13', 'Less than 1 year', '16', '33', '22',
       '30', '32', '7', '35', '28', '40', '17', '29', '19',
       'More than 50 years', '9', '38', '26', '34', '25', '2', '45', '23',
       '31', '43', '1', '48', '41', '50', '39', '42', '37', '36', '44',
       '46', '49', '47'], dtype=object)

In [86]:
type(np.nan)

float

#### Replacing Strings to Numbers

In [95]:
### Lets replace the strings:  Less than 1 year to 0 & More than 50 years to 51.
df['YearsCode'].replace('Less than 1 year',0,inplace=True)

df['YearsCode'].replace('More than 50 years',51,inplace=True)

In [96]:
df['YearsCode'] = df['YearsCode'].astype(float)

In [97]:
### Now we got the average value of coding experience have got for the developers who answered the survey
### Lets do some more Statistical Analysis if we wanna perform

df['YearsCode'].mean()

13.966855378281009

In [98]:
df['YearsCode'].median()

11.0

###           PRACTISING ON CREATED DATASET

# Part 2: DataFrame and Series Basics - Selecting Rows and Columns

# CREATING A DATAFRAME

In [ ]:
person = {
    "first": "Corey", 
    "last": "Schafer", 
    "email": "CoreyMSchafer@gmail.com"
}

In [ ]:
people = {
    "first": ["Corey"], 
    "last": ["Schafer"], 
    "email": ["CoreyMSchafer@gmail.com"]
}

In [ ]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [ ]:
people['email']

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(people)

In [ ]:
df

# ACCESSING A SIGNLE COLUMN

In [ ]:
## to access a single column with the key passing in it..
## This is the best way to use 
df['email']

In [ ]:
## And ALSO we can access a single column by period(dot notation) which returns same series object of email values
## i would not recommend you to use dot because for an instance if you have a column called COUNT(df.count wont work)
df.email

In [ ]:
type(df['email'])

# what is a series?
A series is a 1D ARRAY which means rows of a single column....
A DATAFRAME is basically a container for multiple of these series objects
ex: first column as a series, last column as a series and email column as series
Note : Series also has an index as well just like we have for our dataframe

# ACCESSING A MULTIPLE COLUMN

In [ ]:
df[['last', 'email']]

In [ ]:
## To grab all the columns if you are interested to see
df.columns

# To ACCESS ROWS:
    using loc[specify column names] and iloc(specify INTEGER LOCATION since it is a ILOC(integer location))

# a)ILOC

In [ ]:
## TO ACCESS FIRST ROW OF A DATAFRAME
df.iloc[0]

# Selecting multiple rows

In [ ]:
## TO ACCESS FIRST TWO ROWS OF A DATAFRAME....again it will give us a dataframe 

df.iloc[[0, 1]]

In [ ]:
## TO ACCESS FIRST two ROWs OF A DATAFRAME and also a single column
## it gives specific column object for specific rows that we wanted

df.iloc[[0, 1],2]

In [ ]:
## TO ACCESS FIRST two ROWs OF A DATAFRAME and also two columns
## it gives specific column objects of last and email for specific rows that we wanted
df.iloc[[0, 1],[1,2]]

# b) LOC

In [ ]:
## TO ACCESS FIRST ROW OF A DATAFRAME
df.loc[0]

In [ ]:
## TO ACCESS FIRST TWO ROWS OF A DATAFRAME....again it will give us a dataframe JUST LIKE ILOC

df.loc[[0, 1]]

In [ ]:
## TO ACCESS FIRST two ROWs OF A DATAFRAME and also a single column HERE we pass column name as a key
## it gives specific column object for specific rows that we wanted
df.loc[[0, 1], 'email']

In [ ]:
## TO ACCESS FIRST two ROWs OF A DATAFRAME and also two columns HERE we pass two column names(series) as a keys in a list
## it gives specific column object for specific rows that we wanted
df.loc[[0, 1], ['email', 'last']]

#  PART-03 INDEXES (how to set, reset and use indexes)
WE HAVE SEEN DEFAULT INDEXES IN THE PART-2 AND NOW WE WILL BE SEEING CUSTOM INDEXES AND BENEFIT OF DOING THIS

In [ ]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(people)

In [ ]:
## If we look at the dataframe we have DEFAULT indexes 0,1 and 2 that looks like a column without name which is an INDEX
## Index is a range of numbers that basically an INTEGER IDENTIFIERS for the rows
## It may have different identifiers for each row which basically be the LABEL for that row which is usually unique.
## here in our sample data 'EMAIL'address would be the index for this data bcoz that's usually a unique value for the people.

df

# SETTING AN INDEX

In [ ]:
## to view all of the emails 
df['email']

In [ ]:
## Now Email column looks like a column
df.set_index('email')

In [ ]:
## If we look our dataframe again then it didnt actually change. It still has the default index to the left
## this is because PANDAS DOES NOT DO A LOT OF THESE CHANGES in place unless we specifically tell it to do so.
## This is nice because it allows us to experiemnt without worrying about modifying our dataframe in unexpected ways.

df

In [ ]:
## If we want to set EMAIL column to be as AN INDEX COLUMN and have those changes carryover into those future cells.
## To do so we have to pass in another argument inplace = True

df.set_index('email', inplace = True)

In [ ]:
## Now if we look at our dataframe by running it. dataframe did modified and Email column set to INDEX COLUMN

df

In [ ]:
## If you wanna look at the INDEX specifically
df.index

In [ ]:
## WHY WOULD THIS ACCTUALLY BE USEFUL??
## Email address as the index gives us a nice UNIQUE IDENTIFIER for our rows
## We used '".LOC " to search our dataframe by "LABEL ".
## these indexs are Labels for these rows

## we've used df.loc[0] previously
## We get the row for that specific Email Index
df.loc['CoreyMSchafer@gmail.com']

In [ ]:
## We can still pass in values for the specific columns
df.loc['CoreyMSchafer@gmail.com','last']

In [ ]:
## We actually NO LONGER HAVE those default integers index bcoz we're using Email index
## We gonna get TYPE ERROR
df.loc[0]

In [ ]:
## IF YOU STILL WANNA USE INTEGER LOCATION WITHOUT LABELS. WE STILL HAVE ILOC index still available
df.iloc[0]

In [ ]:
## first row but second column
df.iloc[0,1]

# HOW TO RESET AN INDEX?

In [ ]:
## Now we will get back to email as a column but not an index column and will get default range of index
df.reset_index(inplace=True)

In [ ]:
df

# PART-04 FILTERING - USING CONDITIONALS TO FILTER ROWS AND COLUMNS:
Filtering is very essential to filter the data from the dataset that we are intersted into..

In [ ]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [ ]:
pd.DataFrame(people)

In [ ]:
df = pd.DataFrame(people)
df

In [ ]:
## If I wanna to get the rows with the Last name " Doe" but it gave series of boolean values that we might not be expected
## True values are the rows that met filter criteria and False values that didnt meet our filter criteria
df['last'] == 'Doe'

In [ ]:
## If I wanna to get the rows with the Last name " Doe" but it gave series of boolean values
## you can assign it to the variable called as FILT(Note: don't use FILTER bcoz pandas has existed FILTER variable)
## use parenthesis so that you can read easily and understand.
filt = (df['last'] == 'Doe')

# FILTER MASK

In [ ]:
df[filt]

In [ ]:
## we can also use this way but its littel more difficult to read and understand
df[df['last'] == 'Doe']

# FILTER DATAFRAME

In [ ]:
## this is nother way to filter out the data and best way to use it 
df.loc[filt]

In [ ]:
## you can get the specifi column from filt variable
df.loc[filt,'email']

# USING AND (&), OR(|) operators

In [ ]:
## i am interested to get the email id  by filtering out USING AND OPERATOR
filt = (df['last'] == 'Doe') & (df['first'] == 'John')

In [ ]:
df.loc[filt]

In [ ]:
df.loc[filt,'email']

In [ ]:
## i am interested to get the email ids by filtering out using OR OPERATOR
filt = (df['last'] == 'Schafer') | (df['first'] == 'John')

In [ ]:
df.loc[filt,'email']

In [ ]:
## To get  opposite of those results WE SIMPLY usE TILDE SIGN(~)
## IT prints out without Schafer and John
df.loc[~filt,'email']

# PART-05 Updating Rows and Columns - Modifying Data Within DataFrames
we will be learning how to modify the data within our DataFrames.
We will use some of the filtering techniques we learned in the last part to update values conditionally, 
and we will also be learning how to use the apply, map, and applymap method. Let's get started...

### let's learn how to modify the columns first:

In [ ]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [ ]:
df = pd.DataFrame(people)

In [ ]:
df.columns

In [ ]:
## I would like to modify the column names to more specific
## we can do it simply by assigning new column names passing in list
df.columns = ['first_name','last_name','email_id']
df.columns

In [ ]:
df

In [ ]:
## if we wanna change the column names to be upper case or lower case or vice versa
## maybe if column names have spaces if we wanna replace them with the underscore
## In this case we use LIST COMPREHENSION
df.columns = [x.upper() for x in df.columns]
df

In [ ]:
## if we wanna change the column names to be upper case or lower case or vice versa
## maybe if column names have spaces if we wanna replace them with the underscore
## In this case we use LIST COMPREHENSION
df.columns = [x.lower() for x in df.columns]
df

In [ ]:
## we can replace undersore and just leave it a space using string replace method 
df.columns = df.columns.str.replace('_', ' ')
df

In [ ]:
## we can replace space and replace it back with underscore using string replace method 
df.columns = df.columns.str.replace(' ', '_')
df

In [ ]:
## if we wanted to change some columns we can use RENAME METHOD
## AND just pass in dictionary of the columns that we want to change

In [ ]:
df

In [ ]:
df.rename(columns = {'first_name':'first','last_name':'last'})

In [ ]:
## but the changes didn't went through in our dataframe 
df

In [ ]:
## if we want the changes to take place permanently just add an argument inplace = True 
df.rename(columns = {'first_name':'first','last_name':'last'}, inplace=True)
df

### UPDATING THE DATA IN ROWS:

In [ ]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [ ]:
df = pd.DataFrame(people)
df

### UPDATING A SINGLE ROW

In [ ]:
df.loc[2]

In [ ]:
## updating the second row 
df.loc[2] = ['John','Smith', 'JohnSmith@email.com']
df.loc[2]

In [ ]:
## if you wanna update only two columns in a second row
df.loc[2,['last','email']] = ['Doe','JohnDoe@email.com']
df.loc[2]

In [ ]:
## if you wanna change single value(one row and one column)
df.loc[2,'last'] = 'Smith'
df.loc[2]

In [ ]:
df

In [ ]:
## We can also change a single value by using "at " but best way is to use " LOC ""
df.at[2,'last'] = 'Doe'
df

In [ ]:
## LET'S TRY USING filters to grab that specific row
filt = (df['email'] == 'JohnDoe@email.com')
df[filt]

In [ ]:
## if you are interested to get second row last column 
df[filt]['last']

In [ ]:
## this doesn't work bcoz filt is a temp variable that we set just click the link below to get in detail information
df[filt]['last'] = 'Smith'

In [ ]:
## that didn't work out as we can see same dataframe even if tried to change the last name to smith by assignment method
df

In [ ]:
## By using loc index on filt variable it did go through and changed our column name to smith
filt = (df['email'] == 'JohnDoe@email.com')
df.loc[filt,'last'] = 'Smith'

In [ ]:
df

### UPDATING MULTIPLE ROWS

In [ ]:
## if you wanna update all email addresses to the lower case since it has mixed casing issue.
## This is the one WAY to change multiple rows at once
df['email'].str.lower()

In [ ]:
## but still we can see emails as mixed casing to make changes we just assign to df['email']
df

In [ ]:
## By doing this way we can change all the rows at a single time

df['email']=df['email'].str.lower()
df

In [ ]:
## Let's see a little more advanced to change the multiple rows: 
## FOUR POPULAR METHODS most of the people do get confused because they are very similar in what they do
## 1. APPLY 2. MAP 3. APPLYMAP 4.REPLACE

### 1.APPLY METHOD
APPLY - used for calling a function on our VALUES. IT can work on either a DATAFRAME and SERIES OBJECT.
Behaviour might be little different than what we expect for each of those different objects

In [ ]:
## LET'S LOOK AT HOW APPLY WORKS FOR SERIES so when we use this on a series it can apply a function to every value in series
## let's see the length of all our email addresses

df['email'].apply(len)

In [ ]:
### We can also use this to update the values.. lets create a simple function that returns uppercase version of our email
### but the function can be as complicated as you wanna be
### don't wanna put parenthesis just pass in function without parenthesis

def update_email(email):
    return email.upper()

df['email'].apply(update_email)

In [ ]:
df['email'] = df['email'].apply(update_email)

In [ ]:
df

In [ ]:
### added all the above cells in a single cell to execute in a single stretch
def update_email(email):
    return email.upper()

df['email'].apply(update_email)
df['email'] = df['email'].apply(update_email)
df

In [ ]:
### We may also see people using LAMBDA FUNCTIONs as well which means anonymous functions without a specific name 
### that we use for things like this..we can see down below that's little complicated but 
### if you are familiar and more comfortable writing regular functions then you can do that way.... 
### if you're comfortable writing LAMBDA functions then u can do this way...
### All the methods do work on numerical data as well since we are working on string data 

df['email'] = df['email'].apply(lambda x: x.lower())
df

### LETS LOOK AT HOW APPLY WORKS ON DATAFRAME:

In [ ]:
### apply method worked well for series object
df['email'].apply(len)

In [ ]:
### But apply method doesn't work for dataframe: it's not applying length function to every value in the dataframe..it's 
### actually applying to each series in the dataframe specifically the columns i.e., first column has 3 values, second has 3
### and third column has 3 values...
df.apply(len)

In [ ]:
### OOPS rows is the default one needless to mention!!!
### counting downwards (vertically)
df.apply(len,axis = 'rows')

In [ ]:
### counting horizontally
df.apply(len,axis = 'columns')

In [ ]:
### if we wanna check manually the length of the column it gives same result 
len(df['email'])

In [ ]:
### series objects have a min method since our df has string data it gave us ALPHABETICALLY
### Obviously Numerical data makes more sense
df.apply(pd.Series.min)

In [ ]:
### we can also use LAMBDA FUNCTION TO GET MIN VALUE OF A DATAFRAME
df.apply(lambda x: x.min())

#### 2. APPLY MAP
APPLY MAP works only on DATAFRAME...it applies every individual element in the dataframe...
SERIES Object don't have APPLYMAP method

In [ ]:
### now this built-in length function applies for each individual element in our dataframe
df.applymap(len)

In [ ]:
### If i wanted to get our entire dataframe to lower case using LOWER FUNCTION AND APPLYMAP METHOD
df.applymap(str.lower)

### 3. MAP METHOD- It only works on series objects
It is used for substituting each value in a series with another value

In [ ]:
## i wanted to substitute two new values into first column by passing in two dictionaries into map function
## But the problem is the values which we didn't substitute that converted to NAN value which may not be what we want
df['first'].map({'Corey':'Chris','Jane':'Mary'})

### 4. REPLACE METHOD- It only works on series objects
It is ALSO used for substituting each value in a series with another value without NAN values

In [ ]:
df['first'].replace({'Corey':'Chris','Jane':'Mary'})

In [ ]:
### Replaced Version of the dataframe
df['first'] = df['first'].replace({'Corey':'Chris','Jane':'Mary'})
df

## PART-06: Add/Remove Rows and Columns From DataFrames
how to add and remove rows and columns from dataframes using the append and drop methods. 
We will also see how we can create new columns by combining elements from existing ones. 
Let's get started...

In [ ]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [ ]:
pd.DataFrame(people)

In [ ]:
df = pd.DataFrame(people)
df

#### ADDING NEW COLUMN TO OUR DATAFRAME:

In [ ]:
df['first']+' '+df['last']

In [ ]:
df['full_name'] = df['first']+' '+df['last']
df

#### REMOVING COLUMNS TO OUR DATAFRAME:  USING DROP METHOD

In [ ]:
df.drop(columns = ['first','last'])

In [ ]:
df

In [ ]:
df.drop(columns = ['first','last'],inplace=True)
df

####  ADDING MULTIPLE COLUMNS FROM OUR DATAFRAME: USING string split method and expand

In [ ]:
df['full_name'].str.split(' ')

In [ ]:
df['full_name'].str.split(' ',expand=True)

In [ ]:
df[['first','last']] = df['full_name'].str.split(' ',expand=True)
df

### ADDING single row to our dataframe : APPEND METHOD
We may wanna add a single row to our data frame of new data and second maybe we wanna combine two dataframes together
by single dataframe by APPENDING the rows of one to another

In [ ]:
### TypeError: Can only append a dict if ignore_index=True
df.append({'first':'Tony'})

In [ ]:
## Now if we pass in type error: ignore_index=True then it ran successfully without throwing an error 
df.append({'first':'Tony'},ignore_index=True)

In [ ]:
## Passing a complete row details into our dataframe
df.append({'email':'TonyPony@email.com','full_name':'Tony Pony','first':'Tony','last':'Pony'},ignore_index=True)

In [ ]:
people_1 = {
    "first": ["Tony", 'Steve'], 
    "last": ["Stark", 'Rogers'], 
    "email": ["IronMan@avenge.com", 'Cap@avenge.com']
}

In [ ]:
df2 = pd.DataFrame(people_1)
df2

In [ ]:
df.append(df2,ignore_index=True)

In [ ]:
df

In [ ]:
df = df.append(df2,ignore_index=True)

In [ ]:
df

#### NOTE: If you wanna make the changes permanent  theAPPEND METHOD doesn't have inplace = TRUE method to use
#### istead we just have to set the dataframe to this returned data frame 
df = df.append(df2,ignore_index=True)

#### REMOVING ROWS IN A DATAFRAME: Using index method

In [ ]:
df = df.drop(index=4)
df

In [ ]:
### little more complicated way: using filters and conditionals
df.drop(index=df[df['last'] == 'Doe'].index)

## or
filt = df['last'] == 'Doe'
df.drop(index=df[filt].index)

# PART-07: SORTING DATA

In [ ]:
people = {
    "first": ["Corey", 'Jane', 'John','Adam'], 
    "last": ["Schafer", 'Doe', 'Doe','Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com','Adam@email.com']
}

In [ ]:
import pandas as pd

In [ ]:
df  = pd.DataFrame(people)
df

### sort values method

In [ ]:
### if you wanna sort the last column in the dataframe by ascending order
df.sort_values(by='last')

In [ ]:
### if you wanna sort the last column in the dataframe by descending order

df.sort_values(by='last', ascending=False)

In [ ]:
### if you wanna sort the multiple columns in the dataframe in ascending order
df.sort_values(by=['first','last'])

In [ ]:
### if you wanna sort the multiple columns in the dataframe by decreasing order
df.sort_values(by=['last','first'],ascending=False)

In [ ]:
### if you wanna sort the one column in ascending and other column in descending order in the dataframe by passing booleans
df.sort_values(by=['first','last'],ascending=[True,False])

In [ ]:
### to make permanent changes
df.sort_values(by=['last','first'],ascending=[False,True],inplace=True)
df

In [ ]:
df['last'].sort_values()

#### SORT INDEX METHOD: SET BACK TO THE DATA  how it was before

In [ ]:
##If we wanna set this back to how it was before we can simply use SORT INDEX METHOD
df.sort_index()

####  SORTING SINGLE COLUMN OR SERIES OBJECT IN A DATAFRAME

In [ ]:
### usindg sort values method
df['first'].sort_values()

# Part 8: Grouping and Aggregating - Analyzing and Exploring Your Data
-- Aggregating means combining multiple pieces of data into a single result ex: Mean, Median and Mode are aggregate functions
because they take Multiple values and gives us either mean,median or mode of those results

-- GroupBy Function in the pandas documentation it says that groupby operation involves some combination of the
   SPLITTING THE OBJECT    APPLYING A FUNCTION   & COMBINING A RESULTS

In [ ]:
df['Country']

In [ ]:
### Majority of this survey was answered by the United States of America and in second place Germany, 
### third place Indian and  so on & so forth 

df['Country'].value_counts()

In [ ]:
### Now WE look at how to use the group by function on our country column
### Firstly we're going to SPLIT THE FUNCTION and then We're gonna APPLY A FUNCTION and then It'll COMBINE THOSE RESULTS

df.groupby(['Country'])

In [ ]:
### Now set this to a variable so that we can reuse this and not have to retype our code over and over 
### and also easier to read

country_grp = df.groupby(['Country'])

In [ ]:
### Let's grab the group for USA by using GET_GROUP METHOD
### doesnt look like anything special yet but if i look at the country name for each of these survey results are from USA
country_grp.get_group('United States of America')

In [ ]:
country_grp.get_group('India')

In [ ]:
#### This would be similar to RUNNING A FILTER on our dataframe so I shoul be able to 
#### get the same results for a single country

filt = (df['Country'] == 'United States of America')
df.loc[filt]

In [ ]:
### If we wanna know that What are the Top most languages have worked with by USA using FILTER METHOD
### we are applying value count method on filt variable

filt = (df['Country'] == 'United States of America')
df.loc[filt]['LanguageHaveWorkedWith'].value_counts()

In [ ]:
### If we wanna know that What are the Top most languages have worked with by INDIA using FILTER METHOD
### we are applying value count method on filt variable

filt = (df['Country'] == 'India')
df.loc[filt]['LanguageHaveWorkedWith'].value_counts()

In [ ]:
### For that country group we wanna look at top languages that they have worked with
### this actually cuts off a little early
country_grp['LanguageHaveWorkedWith'].value_counts()

In [ ]:
### For that country group we wanna look at top languages that they have worked with
### This actually returing a series and this series has a  multiple indexes it has Country and LanguageHaveWorkedWith indexe

country_grp['LanguageHaveWorkedWith'].value_counts().head(50)

In [ ]:
### if you are interested to know specific countries we can just simply use loc method
country_grp['LanguageHaveWorkedWith'].value_counts().loc['India']

In [ ]:
#### If you wanna look at PERCENTAGE RESULTS instead of raw numbers using NORMALIZE
country_grp['LanguageHaveWorkedWith'].value_counts(normalize = True).loc['India']

In [ ]:
#### Now Lets see how we can do AGGREGATE functions like Mean, MEDIAN,and things like that on Specific Countrygroup and 
### we did calculated median on entire survey dataframe before but now lets look at country group

country_grp['ConvertedCompYearly'].median()

In [ ]:
### If you wanna see MEDIAN SALARY IN place like GERMANY
country_grp['ConvertedCompYearly'].median().loc['Germany']

In [ ]:
### If you wanna know MEDIAN AND MEAN FOR THE COUNTRIES we use AGG METHOD
country_grp['ConvertedCompYearly'].agg(['median','mean'])

In [ ]:
### If you wanna know MEDIAN AND MEAN FOR THE Specific COUNTRy we use AGG METHOD

country_grp['ConvertedCompYearly'].agg(['median','mean']).loc['India']

In [ ]:
### If you wanna know the SPECIFIC country who specifically worked with Python USING STRING METHOD

filt = (df['Country'] == 'United States of America')
df.loc[filt]['LanguageHaveWorkedWith'].str.contains('Python')

In [ ]:
### If you wanna know the SPECIFIC country who specifically worked with Python USING STRING METHOD
### If you wanna total number of respondents who worked with Python Using SUM METHOD
### Sum Method not only works with Numerical but also works with Boolean Values(True 1 or False 0)

filt = (df['Country'] == 'United States of America')
df.loc[filt]['LanguageHaveWorkedWith'].str.contains('Python').sum()

In [ ]:
filt = (df['Country'] == 'India')
df.loc[filt]['LanguageHaveWorkedWith'].str.contains('Python').sum()

In [ ]:
country_grp['LanguageHaveWorkedWith'].str.contains('Python').sum()

In [ ]:
### We can resolve above issue by using APPLY METHOD and LAMBDA FUNCTION

country_grp['LanguageHaveWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

#### Q: What % of People from each country Know Python?
 1. find out Total Number of Respondants/People from each country
 2. Total Number of People from each Country who Knows Python 
 3. combine these two variable by creating nother variable using CONCAT function

In [ ]:
### Let's find out Total Number of Respondants/People from each country
country_respondents  = df['Country'].value_counts()
country_respondents

In [ ]:
### Total Number of People from each Country who Knows Python 

country_uses_python = country_grp['LanguageHaveWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
country_uses_python

In [ ]:
#### Now lets combine these two variable by creating nother variable using CONCAT function

python_df = pd.concat([country_respondents,country_uses_python],axis='columns',sort=False)
python_df

In [ ]:
#### Now lets combine these two variable by creating nother variable using CONCAT function 
#### And also rename the object names to look more specific

python_df.rename(columns={'Country':'NumRespondents','LanguageHaveWorkedWith':'NumKnowsPython'})

In [ ]:
python_df.rename(columns={'Country':'NumRespondents','LanguageHaveWorkedWith':'NumKnowsPython'},inplace=True)
python_df

In [ ]:
#### Now we have total no.of people from each country and total no.of people who knows Python in each country in one df
#### So we have all the information we need to calculate a Percentage
#### All we need to do is to create a column and calculate it.

python_df['PerKnowsPython'] = (python_df['NumKnowsPython']/python_df['NumRespondents'])*100
python_df

#### Q1.  Sort the countries by largest percentage of respondents

In [ ]:
python_df.sort_values(by='PerKnowsPython',ascending=False)

In [ ]:
python_df.sort_values(by='PerKnowsPython',ascending=False,inplace=True)
python_df

In [ ]:
### If you wanna look at specific country 
### we get specific statistcs for that country

python_df.loc['India']

#### Q2: What is the most common Education Level for the people who answered survey?

In [ ]:
df['EdLevel']

In [ ]:
Common_EdLevel = df['EdLevel'].value_counts(ascending=False)
Common_EdLevel

# Part 9: Cleaning Data - Casting Datatypes and Handling Missing Values
we will be learning how to clean our data. We will be learning how to handle and remove missing values, fill missing values, cast datatypes, and more. This is an essential skill in Pandas because we will frequently need to modify our data to our needs. 

-- Every dataset that we are going to be working with is likely gonna have missing data or data that we'd to like to clean up 
or convert to a different datatype

### Lets talk about how to drop MISSING VALUES

In [16]:
import pandas as pd
import numpy as np

In [17]:
people = {
    'first': ['Corey', 'Jane', 'John', 'Chris', np.nan, None, 'NA'], 
    'last': ['Schafer', 'Doe', 'Doe', 'Schafer', np.nan, np.nan, 'Missing'], 
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com', None, np.nan, 'Anonymous@email.com', 'NA'],
    'age': ['33', '55', '63', '36', None, None, 'Missing']
}

In [18]:
df=pd.DataFrame(people)
df

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
3  Chris  Schafer                     None       36
4    NaN      NaN                      NaN     None
5   None      NaN      Anonymous@email.com     None
6     NA  Missing                       NA  Missing

#### a) DROPNA METHOD

 -- We will remove missing values by using DROPNA method
 -- dropna will use default arguments in the background

In [19]:
### We will remove missing values by using DROPNA method
### But we do have custom missing values that wont get dropped

df.dropna()

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
6     NA  Missing                       NA  Missing

In [20]:
## we will be getting same results by passing arguments like axis='index',how='any'
## if the axis = index which means row and how method means it is a condition how you want to drop the values(any,all)
## down below rows 3,4, and 5 were dropped because of missing values

df.dropna(axis='index',how='any')

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
6     NA  Missing                       NA  Missing

In [21]:
## if the axis = index which means row and how method means it is a condition how you want to drop the values(all)
## down below rows 4 were dropped because of all  missing values in the row but row 5 has email id so its not dropped

df.dropna(axis='index',how='all')

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
3  Chris  Schafer                     None       36
5   None      NaN      Anonymous@email.com     None
6     NA  Missing                       NA  Missing

In [22]:
## if the axis = columns  and how = all then it didn't drop the column becuase no column has all missing values

df.dropna(axis='columns',how='all')

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
3  Chris  Schafer                     None       36
4    NaN      NaN                      NaN     None
5   None      NaN      Anonymous@email.com     None
6     NA  Missing                       NA  Missing

In [23]:
## if the axis = columns  and how = any then it will drop all columns becuase 4th column has all missing values(nan,none)
## which is an empty data so it gives empty dataframe

df.dropna(axis='columns',how='any')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6]

#### USING SUBSET ARGUMENT

In [24]:
### USING SUBSET argument
### It's fine if they don't have first name or last name but we really need email address and 
### if they don't have an email address then we need to just drop those rows
### doesn't matter if we use any or all output remains same
### In order to this just use subset argument with the list or just a series object

### it drops rows 3,4 bcoz it has missing values
### it ain't dropped 5 even if it has first name as None and Last name as Nan bcoz that row has email address
### row 6 has customized sample we will discuss later

df.dropna(axis='index',how='any',subset=['email'])

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
5   None      NaN      Anonymous@email.com     None
6     NA  Missing                       NA  Missing

In [25]:
df.dropna(axis='index',how='all',subset=['email'])

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
5   None      NaN      Anonymous@email.com     None
6     NA  Missing                       NA  Missing

In [26]:
### we bothered having missing values in email but aint bothered in first name column
### row3 has email address none so it dropped
### row4 last name has Nan so it dropped
### row5 last name has Nan so it dropped

### if you wanna set the modified dataframe as permanent just passin argument inplce = True

df.dropna(axis='index',how='any',subset=['email','last'])

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
6     NA  Missing                       NA  Missing

### b) CUSTOM MISSING VALUES:

In [27]:
import pandas as pd
import numpy as np

In [28]:
people = {
    'first': ['Corey', 'Jane', 'John', 'Chris', np.nan, None, 'NA'], 
    'last': ['Schafer', 'Doe', 'Doe', 'Schafer', np.nan, np.nan, 'Missing'], 
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com', None, np.nan, 'Anonymous@email.com', 'NA'],
    'age': ['33', '55', '63', '36', None, None, 'Missing']
}

In [29]:
df = pd.DataFrame(people)

df.replace('NA',np.nan,inplace=True)
df.replace('Missing',np.nan,inplace=True)

In [30]:
df

   first     last                    email   age
0  Corey  Schafer  CoreyMSchafer@gmail.com    33
1   Jane      Doe        JaneDoe@email.com    55
2   John      Doe        JohnDoe@email.com    63
3  Chris  Schafer                     None    36
4    NaN      NaN                      NaN  None
5   None      NaN      Anonymous@email.com  None
6    NaN      NaN                      NaN   NaN

In [31]:
###LET'S run all the similar lines of code which we ran above and find out difference::

df.dropna()

   first     last                    email age
0  Corey  Schafer  CoreyMSchafer@gmail.com  33
1   Jane      Doe        JaneDoe@email.com  55
2   John      Doe        JohnDoe@email.com  63

In [32]:
df.dropna(axis='index',how='any')

   first     last                    email age
0  Corey  Schafer  CoreyMSchafer@gmail.com  33
1   Jane      Doe        JaneDoe@email.com  55
2   John      Doe        JohnDoe@email.com  63

In [33]:
df.dropna(axis='index',how='all')

   first     last                    email   age
0  Corey  Schafer  CoreyMSchafer@gmail.com    33
1   Jane      Doe        JaneDoe@email.com    55
2   John      Doe        JohnDoe@email.com    63
3  Chris  Schafer                     None    36
5   None      NaN      Anonymous@email.com  None

In [34]:
df.dropna(axis='columns',how='all')

   first     last                    email   age
0  Corey  Schafer  CoreyMSchafer@gmail.com    33
1   Jane      Doe        JaneDoe@email.com    55
2   John      Doe        JohnDoe@email.com    63
3  Chris  Schafer                     None    36
4    NaN      NaN                      NaN  None
5   None      NaN      Anonymous@email.com  None
6    NaN      NaN                      NaN   NaN

In [35]:
df.dropna(axis='columns',how='any')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6]

In [36]:
df.dropna(axis='index',how='any',subset=['email'])

   first     last                    email   age
0  Corey  Schafer  CoreyMSchafer@gmail.com    33
1   Jane      Doe        JaneDoe@email.com    55
2   John      Doe        JohnDoe@email.com    63
5   None      NaN      Anonymous@email.com  None

In [37]:
df.dropna(axis='index',how='all',subset=['email'])

   first     last                    email   age
0  Corey  Schafer  CoreyMSchafer@gmail.com    33
1   Jane      Doe        JaneDoe@email.com    55
2   John      Doe        JohnDoe@email.com    63
5   None      NaN      Anonymous@email.com  None

In [38]:
df.dropna(axis='index',how='all',subset=['email','last'])

   first     last                    email   age
0  Corey  Schafer  CoreyMSchafer@gmail.com    33
1   Jane      Doe        JaneDoe@email.com    55
2   John      Doe        JohnDoe@email.com    63
3  Chris  Schafer                     None    36
5   None      NaN      Anonymous@email.com  None

In [39]:
df.dropna(axis='index',how='any',subset=['email','last'])

   first     last                    email age
0  Corey  Schafer  CoreyMSchafer@gmail.com  33
1   Jane      Doe        JaneDoe@email.com  55
2   John      Doe        JohnDoe@email.com  63

#### ISNA METHOD
isna method is used to get a MASK OF VALUES as to whether or not these classify as na or not

In [40]:
df.isna()

   first   last  email    age
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False
3  False  False   True  False
4   True   True   True   True
5   True   True  False   True
6   True   True   True   True

In [41]:
### SINCE WE ARE WORKING ON STRNG DATA SO WE'VE PASSED STRING VALUE
### IF YOU'RE WORKING ON NUMERICAL DATA THEN PASS 0 OR -1

df.fillna('MISSING')

     first     last                    email      age
0    Corey  Schafer  CoreyMSchafer@gmail.com       33
1     Jane      Doe        JaneDoe@email.com       55
2     John      Doe        JohnDoe@email.com       63
3    Chris  Schafer                  MISSING       36
4  MISSING  MISSING                  MISSING  MISSING
5  MISSING  MISSING      Anonymous@email.com  MISSING
6  MISSING  MISSING                  MISSING  MISSING

In [42]:
### if you want those changes to be permanent and just simply add that inplace argument by setting it to True

df.fillna(0)

   first     last                    email age
0  Corey  Schafer  CoreyMSchafer@gmail.com  33
1   Jane      Doe        JaneDoe@email.com  55
2   John      Doe        JohnDoe@email.com  63
3  Chris  Schafer                        0  36
4      0        0                        0   0
5      0        0      Anonymous@email.com   0
6      0        0                        0   0

In [43]:
df.dtypes

first    object
last     object
email    object
age      object
dtype: object

In [44]:
### since age is an Object(which means string or mix of different th)
df['age'].mean()

TypeError: can only concatenate str (not "int") to str

In [45]:
### lets see what is the nan datatype 
type(np.nan)

float

#### CASTING : Using ASTYPE

In [46]:
###CHANGE DATATYPE OBJECT TO FLOAT SINCE DATAYPE OF NAN IS FLOAAAAAT if you change to int it will throw an error
df['age']=df['age'].astype(int)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'NoneType'

In [47]:
### Now age data type is converted to float from object dtype
df['age']=df['age'].astype(float)

In [59]:
### when we check datatypes of columns age column is converted to FLOAT

df.dtypes

first     object
last      object
email     object
age      float64
dtype: object

In [58]:
### Now we can calculate average of age

df['age'].mean()

46.75

In [ ]:
### WE can aslo convert all the columns at a single time but we have mixed columns like strings and numerical 
### so it won't work for us.

df.astype(float)